
<main class="main">
  <div class="content">
      <h1 class="bold-text center-text">
        {{ title() }}
      </h1>
      <body>
<div class="center-text">
    <label class="bold-text" >Choose a Restaraunt: </label>
    <select name="Choose a Restaraunt: " class="bold-text" >
        <option value="lemon">Lemon</option>
        <option value="banana">Banana</option>
        <option value="cherry">Cherry</option>
        <option value="orange">Orange</option>
    </select>
</div>

</body>
    </div>  
</main>

